<%=form_with model: [@group, @group.money_tracks.create], class:"input-form"  do |f|%>

  <nav class="header">
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li>
    <a href="/"><i class="fa fa-arrow-left"></i></a>
    </li>
    <li>
      <h2 class="heading fw-bold">Add Transcation</h2>
    </li>
    <li>
    <%= f.submit "Create Transaction", class:"btn btn-primary form-control" %> 
    </li>
  </ul>
  </nav>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.label :title %><br>
    <%= f.text_field :name,  {:required => true}%><br>

    <%= f.label :category %><br>
    <%=f.text_field :category, value:@group.name%><br>

    <%= f.label :amount %><br>
    <%= f.number_field :amount ,  class:"form-control" , required: true, placeholder: '1',  min: 1%><br>

<%end%>
